*{
	margin: 0;
	padding: 0;
}
div#header{
	margin:0 450px;
}
div#header h1{
	font-family: 'Alex_Brush';
	font-size: 40px;
	padding-top:35px;
}
div#header img{
	width: 100px;
	height: 100px;
	float: left;
}
.clear{
	clear: both;
}
#navbar{
	width: 100%;
	background:#4a0c0cfa;
}
.nav_ul{
	padding-left: 50px;
}
#navbar .nav_ul li{
	list-style: none;
	float: left;
}
#navbar .nav_ul li a{
	color: #fff;
	text-decoration: none;
	padding: 20px 25px;
	display: block;
	text-transform: uppercase;
	font-family: 'Raleway-Regular';
}
#navbar .nav_ul li a:hover,.active{
	background-color: #6b0707fa;
}
div#slider img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
div.quote{
	position: absolute;
	background-color: rgba(255,255,255,0.5); /*opacity-0.5*/
	top: 55%;
	left: 25%;
	padding: 20px;
	font-family:Myanmar3,Yunghkio;
}
#tbody{
	width: 85%;
}
h2{
	font-family: 'OpenSans-Bold';
	margin-left:552px;
	padding-top: 50px;
}
.hor{
	width: 45%;
	margin-left: 388px;
	color: black;
	margin-top: 15px;
}
div#para p{
	font-size:12px;
}
div#para{
	padding-top: 40px;
	text-align: center;
}
div#img1{
	width: 10%;
}
div#img1 img{
	margin-top: 50px;
	width: 55px;
	height: 55px;
}
div#img1 h5{

	padding-top: 30px;
}
div#img1 p{
	padding-top: 25px;
}
#img1{
	float: left;
	padding-left: 177px;
    margin-left: 38px;
}
div#img2{
	margin-top: 80px;
	margin-left:190px;
}
div#img2 img{
	width: 70px;
	height: 100px;
	float: left;
	padding-left: 3px;
}
#header3{
	margin-left:450px;
	text-align: left;
}

#header3 p{
	font-size:12px;
	text-align: justify;
	margin-top: 10px;
}
#special{
	margin-top:65px;
}
#special p{
	margin-left: 300px;
	padding-top: 40px;
	text-align: center;
	width: 700px;
	font-size: 12px;
	padding-top: 30px;
}
#photo{
	margin-top: 40px;
	width: 400px;
	height: 200px;
	padding-left: 200px;
	object-fit: cover;
	
}
#c4{
	width: 178px;
	height: 100px;
	margin-top: -59px;
    padding-left: 60px;
}
#c5{
	width: 85px;
	height: 90px;
	padding-left: 182px;
    margin-bottom: -109px;
    margin-left: -271px;
    margin-right: -88px;
}
.footer_menu img{
	width: 200px;
	height: 200px;
	margin-left: 235px;
    margin-top: 55px;
}
.footer_menu h5{
	margin-left: 510px;
    margin-top: -220px;
    font-family: 'MarckScript';
    font-size: 25px;
}
.footer_menu ol{
	margin-left: 535px;
    margin-top: 25px;
    font-size: 15px;
}
#footer{
	margin-top: 90px;
	background-color: #4a0c0cfa;
	height: 17px;
	padding:10px 5px;
	color: #fff;
	font-family: 'Raleway-Regular';
}
#footer h5{	
	float: left;
	padding-left: 100px;
}